// Sidenav
.example-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .sidenav {
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
        max-width: 6rem;
        // display: flex;
        // flex-direction: column;

        .brand-title {
            box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
            border-radius: 0%;
            height: 64px;
            // min-height: 64px;
            width: 100%;
        }

        .sidenav-button {
            border-radius: 0%;
            min-height: 30vh;
            padding: .2rem;
            width: 100%;

            .button-icon {
                border-radius: 0%;
            }

            .button-text {
                width: 100%
            }
        }
    }

    .main-content {
        background-color: #ECECEC;

        .menu-toolbar {
            background-color: rgb(117,117,117);
            color: rgba(255,255,255,0.87);
        }

        .chart-container {
            width: 100%;

            
            .chart-inner {
                background-color: #fff;
                box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
                margin: 1rem;
                .menu-toolbar {
                    background-color: transparent;
                    color: #7A7A7A;
                }
            }
        }
    }
}

.line {
    display: flex;
    width: 100%;
    flex-grow: 1;
    //justify-content: space-between;
}

.sensor {
    margin: 10px;
    flex-grow: 1;
    padding: 10px;
}

.chart {
  margin: 10px;
  width: 100%;
}
