<div class="columns">
    <div class="line">
        <section class="chart-container">
            <div class="chart-inner">
                <mat-toolbar class="menu-toolbar" color="primary">
                    <mat-toolbar-row>
                        <span>Humidity</span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <nvd3 class="sensor" [options]="options" [data]="data.humidity"></nvd3>
            </div>
        </section>
        <section class="chart-container">
            <div class="chart-inner">
                <mat-toolbar class="menu-toolbar" color="primary">
                    <mat-toolbar-row>
                        <span>Pressure</span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <nvd3 class="sensor" [options]="options" [data]="data.pressure"></nvd3>
            </div>
        </section>
    </div>
    <div class="line">
        <section class="chart-container">
            <div class="chart-inner">
                <mat-toolbar class="menu-toolbar" color="primary">
                    <mat-toolbar-row>
                        <span>Temperature
                        </span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <nvd3 class="sensor" [options]="options" [data]="data.temperature"></nvd3>
            </div>
        </section>
        <section class="chart-container">
            <div class="chart-inner">
                <mat-toolbar class="menu-toolbar" color="primary">
                    <mat-toolbar-row>
                        <span>Light</span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <nvd3 class="sensor" [options]="options" [data]="data.light"></nvd3>
            </div>
        </section>
    </div>

    <section class="chart-container">
        <div class="chart-inner">
            <mat-toolbar class="menu-toolbar" color="primary">
                <mat-toolbar-row>
                    <span>Light</span>
                </mat-toolbar-row>
            </mat-toolbar>
            <nvd3 [options]="options" [data]="data.noise"></nvd3>
        </div>
    </section>
</div>