<mat-drawer-container class="example-container">
    <mat-drawer class="sidenav" mode="side" opened>
        <div class="example-button-row">
            <button mat-button color="primary" class="brand-title">HPC-SE</button>
            <button mat-button [routerLink]="['/dashboard']" color="primary" class="sidenav-button" matTooltip="Dashboard" matTooltipPosition="right">
                <mat-icon aria-label="Dashboard" class="button-icon">dashboard</mat-icon>
            </button>
            <mat-divider></mat-divider>
            <button mat-button [routerLink]="['/real-time-vizualization']" color="primary" class="sidenav-button" matTooltip="Real-time Vizualization"
                matTooltipPosition="right">
                <mat-icon aria-label="Real-time Vizualization" class="button-icon">multiline_chart</mat-icon>
            </button>
            <mat-divider></mat-divider>
            <button mat-button [routerLink]="['/aggregated-data']" color="primary" class="sidenav-button" matTooltip="Agregated Charts" matTooltipPosition="right">
                <mat-icon aria-label="Agregated Charts" class="button-icon">insert_chart</mat-icon>
            </button>
        </div>
    </mat-drawer>
    <mat-drawer-content class="main-content">
        <mat-toolbar class="menu-toolbar" color="primary">
            <mat-toolbar-row>
                <span></span>
            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>