<div class="columns">
    <div class="">
        <section class="chart-container">
            <div class="chart-inner">
                <mat-toolbar class="menu-toolbar" color="primary">
                    <mat-toolbar-row>
                        <span>SensorsPerBatch</span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <nvd3 class="sensor" [options]="optionsSensorsPerBatch" [data]="sensorsPerBatch"></nvd3>
            </div>
        </section>
        <section class="chart-container">
            <div class="chart-inner">
                <mat-toolbar class="menu-toolbar" color="primary">
                    <mat-toolbar-row>
                        <span>SensorsPerTool</span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <nvd3 class="sensor" [options]="optionsSensorsPerBatch" [data]="sensorsPerTool"></nvd3>
            </div>
        </section>
        <section class="chart-container">
            <div class="chart-inner">
                <mat-toolbar class="menu-toolbar" color="primary">
                    <mat-toolbar-row>
                        <span>FailureRatePerBatch</span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <nvd3 class="sensor" [options]="optionsSensorsPerBatch" [data]="failureRatePerBarch"></nvd3>
            </div>
        </section>
        <section class="chart-container">
            <div class="chart-inner">
                <mat-toolbar class="menu-toolbar" color="primary">
                    <mat-toolbar-row>
                        <span>FailureRatePerTool</span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <nvd3 class="sensor" [options]="optionsSensorsPerBatch" [data]="failureRatePerTool"></nvd3>
            </div>
        </section>
        <section class="chart-container">
            <div class="chart-inner">
                <mat-toolbar class="menu-toolbar" color="primary">
                    <mat-toolbar-row>
                        <span>GoodVsFailed</span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <nvd3 class="sensor" [options]="optionsSensorsPerBatch" [data]="goodVsFailed"></nvd3>
            </div>
        </section>
    </div>
</div>
